<html>
<head>
    <!-- Bootstrap Core CSS -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/bootstrap.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="/css/main.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>
    <title>Beer Me</title>
</head>
<body id="page-top" class="index">
    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand page-scroll" href="/">Beer Me</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    <li>
                        <a class="page-scroll" href="/signup">Sign Up</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="/signin">Sign In</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="/about">About</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="/team">Team</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <body>
        <h1>Welcome, {{ bar.getName }}</h1>

        <a href="/show_bar_tokens/{{ bar.getId }}"><h1>Tokens</h1></a>
            {% if get_tokens == true %}
                {% for token in tokens %}
                    <ul>
                        <a href="/token/{{ token.getId }}"><li>{{ token.getPatronName }} </li></a>
                    </ul>
                {% endfor %}
            {% endif %}

        <a href="/show_menu_items/{{ bar.getId }}"><h1>Menu Items</h1></a>
            {% if show_menu == true %}
                    {% for item in items %}
                        <ul>
                            <li>
                                <form action="/edit_item/{{ bar.getId }}/{{ item.getId }}" method="post">
                                    <input name="_method" type="hidden" value="patch">
                                    <label for="description">Item</label>
                                    <input id="description" name="description" value= "{{ item.getDescription }}" required>
                                    <label for="cost">Cost $</label>
                                    <input id="cost" name="cost" value= {{ item.getCost}}></input>
                                    <button type="submit">Update</button>
                                </form>
                                <form action='/delete_item/{{ bar.getId }}/{{ item.getId }}'>
                                    <input name='_method' type='hidden' value='delete'>
                                    <button type='submit'>Delete</button>
                                </form>
                            </li>
                        </ul>
                    {% endfor %}
                    <form action="/add_item/{{ bar.getId }}" method="post">
                        <label for="description">Item</label>
                        <input id="description" name="description" type='text'>
                        <label for="cost">Cost $</label>
                        <input id="cost" name="cost"></input>
                        <button type="submit">Add Item</button
                    </form>
            {% endif %}

        <a href="/show_bar_edit/{{ bar.getId }}"><h1>Edit Profile</h1></a>
            {% if edit_bar == true %}
                <form action="/edit_bar/{{ bar.getId }}" method="post">
                    <input name="_method" type="hidden" value="patch">
                    <label for="name">Name</label>
                    <input id="name" name="name" type="text" value= "{{ bar.getName }}" required>
                    <label for="phone">Phone</label>
                    <input id="phone" name="phone" type="text" value= "{{ bar.getPhone }}" required>
                    <label for="address">Address</label>
                    <input id="address" name="address" type="text" value= "{{ bar.getAddress }}" required>
                    <label for="website">Website</label>
                    <input id="website" name="website" type="text" value= "{{ bar.getWebsite }}" required>
                    <button type="submit">Update</button>
                </form>
            {% endif %}

    </body>
</html>
