<html>
    <head>
        <!-- Bootstrap Core CSS -->
        <link href="/css/bootstrap.min.css" rel="stylesheet">
        <link href="/css/bootstrap.css" rel="stylesheet">

        <!-- Custom CSS -->
        <link href="/css/main.css" rel="stylesheet">

        <!-- Custom Fonts -->
        <link href="/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
        <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
        <link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
        <link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
        <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>
        <title>Beer Me</title>
    </head>
    <body>
        <header class="bar-header">
            <div class="container">
                <div class="intro-text">
                    <div class="row">
                    </div>
                </div>
            </div>
        </header>

        <div class="container">

        <h1>{{ token.getPatronName }}'s Token</h1>

        <p>This token is good for one {{ item.getDescription }} worth ${{ item.getCost }}.</p>

        <form action='/redeem_token/{{ token.getId }}'>
            <input name='_method' type='hidden' value='delete'>
            <button type='submit'>Redeem Token</button>
        </form>

        <a href='/show_bar_tokens/{{bar.getId}}'>Home</a>
    </div>


        <!-- jQuery -->
        <script src="js/jquery.js"></script>

        <!-- Bootstrap Core JavaScript -->
        <script src="js/bootstrap.min.js"></script>

        <!-- Plugin JavaScript -->
        <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
        <script src="js/classie.js"></script>
        <script src="js/cbpAnimatedHeader.js"></script>

        <!-- Contact Form JavaScript -->

        <script src="js/contact_me.js"></script>


        <!-- Custom Theme JavaScript -->
        <script src="js/agency.js"></script>
    </body>
</html>
